.main{
    position: absolute;
    display:  flex ;
    flex-direction:  column ;
    text-align: center ;
    width:100%;
    height:100%;
    margin: 0 auto ;
    align-items: center ;
    font-family: helvetica;
    .overlapBlock{
        position: absolute;
        height:80px;
        width:300px;
        // width:100%;
        background-color: #1F1F1F;
        .gitIcon{
            position: absolute;
            top:5px;
            right: 20px;
            width:24px;
            height:24px;
        }
    }

    .in1{
        width:100%;
        box-sizing: border-box;
        display: flex;
        align-items: center;
       
    }
    .profile{      
        height:270px;     
        .in2{   
            display:  flex ;
            flex-direction:  column ;
            // border-style:solid;
            // border-color:blue; 
            align-items:center;
            justify-content: center;
            width: 100%;
        }
        .name{
            margin-top: 8px;
            font-size: 25px;
            font-weight: bold;
        }
        .username{
            margin-top: 2px;
            font-size:15px;
        }
        .bio{
            margin-top: 2px;
            font-size:15px;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    .contactInfo{
        // height:37%;   
        color: white;
        justify-content: center;
        .contactMain{
            // border-radius: 30px;
        }
        .list{
            display: flex;
            flex-direction: row;
            padding: 0;
            text-align: center;
            margin:0;
            width:290px;
            height:50px;
         
            // justify-content: center;
        }
        .listItem{
            display: flex;
            flex-direction: column;
            height:100%;
            width: 33.3333%;
            color:white;
            background-color: #1F1F1F;  
            justify-content: center;
            .fieldName{
                // position: relative;
                // bottom: 0px;
                font-size: 10px;
            }
        }
        
    }

    .last{
        // height:10%;
    }
    .lastlast{
        // height:3%;
        background-color: #1F1F1F;  
    }
}
